<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vegeplanting">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vegetable_icon"
        android:roundIcon="@mipmap/ic_vegetable_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VegePlanting">
        <activity android:name=".NoteActivity"></activity>
        <activity android:name=".AppIntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalendarActivity" />
        <activity android:name=".PlanItemActivity" />
        <activity android:name=".OnlineTutorialActivity" />
        <activity android:name=".OfflineTutorialActivity" />
        <activity android:name=".ListDataActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>