<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vegeplanting">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vegetable_icon"
        android:roundIcon="@mipmap/ic_vegetable_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VegePlanting">
        <activity android:name=".NoteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AppIntroActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalendarActivity" android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".PlanItemActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".OnlineTutorialActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".OfflineTutorialActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListDataActivity" android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>